body{
    border: 5px solid blue;
    display: flex;
    font-family: 'Montserrat', sans-serif;

}
.sidebar{
    border: 2px solid black;
    width: 100vw;
}

#bio_sidebar{
    border: 2px solid yellow; 
}

#facts_sidebar{
    border: 2px solid yellow; 
}

#icons{
    border: 2px solid yellow; 

}

.cv{
    border: 2px solid red;
}

.bio{
    border: 2px solid green;
}


/* make it so the sidebar doesnt take up too much 
room on phone 
@media all and (min-width: 768px) { 
}
.sidebar {
    border: 2px solid black;
    width: 87vw;
}
*/
