*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    border:  1px solid red;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgray;
}

#left{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8, 1fr);

}

#right{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(60,1fr);
}