@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

.container{
    border: 3px solid red;
}
header.container{
    background-image: url(images/headerback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.container.text-center{
color: orange;
}

.imgtext{
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }