<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
  <%- include('header') %>
    <form>
        <div>
        <h1>Search Page</h1>
          <input type="search" id="title_search" name="title_search" />
          <button>Search for title:</button>
        </div>
      </form>

      <%- include('posts') %>
      <%- include('footer') %>
</body>
</html>
